#app{
    font-family: 'Courier New', Courier, monospace;
}
.can-buy{
    background-color: forestgreen;
}
.cannot-buy{
    background-color: crimson;
}
.flex-container{
    display: flex;
}
.deflation-button{
    border: 4px solid slategray;
    width: 150px;
}
.not-implemented{
    color: red;
    font-size: large;
}
.change-tab-button{
    height: 50px;
    background-color: gray;
    border: 2px solid black;
}